@media (max-width: 768px) {
    table {
      font-size: 12px;
    }
    td,
    th {
      padding: 5px;
      text-align: center;
    }
  }
  
  .container-fluid {
    padding: 15px;
  }
  
  button {
    font-size: 14px;
  }
  
  button.me-2 {
    margin-right: 10px;
  }
  